
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Contact Table</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
				Showing {{numRecords}} records
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">



                            <div class="table-responsive">

<table tr-ng-grid="" items="tableFields" page-items="20" class="table table-striped table-bordered table-hover"></table>
<!--
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Age</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
 <tbody><tr ng-repeat="fields in tableFields"><td>{{fields.name}}</td><td>{{fields.gender}}</td></tr></tbody>
                                </table>
-->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div> <!-- /.row -->
